# Local Database & Data
chroma_db_data/
parent_docs/
models/
chats/
__pycache__/
*.pyc

# Virtual Environment
venv/
.env

# Temporary/User Files
temp/
*.pdf

# Legacy version
Legacy/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Streamlit
.streamlit/